@use "styles/base/reset";

@use "styles/vendors/bootstrap";
@use "styles/vendors/material";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-synthesis: none;

  -moz-font-feature-settings: "kern";
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
